

 <main id="main" class="main">
 <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                  <table class="table table-borderless datatable">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">email</th>
      <th scope="col">phone</th>
       <th scope="col">block</th>
    </tr>
  </thead>
  <tbody>
    {{#each userinfo}}
    <tr>
      <th >{{@index}}</th>
      <td>{{name}}</td>
      <td>{{email}}</td>
      <td>{{phone}}</td>
      {{#if is_blocked}}
      <td><a href="/admin/unblock?id={{_id}}"  style="text-decoration: none;"><button type="button" class="btn btn-danger"><img src="/images/unlock.png" style="width:1rem;"></button></a></td>
      {{else}}
      <td><a href="/admin/block?id={{id}}" style="text-decoration: none;"><button type="button" class="btn btn-success"><img src="/images/block-user.png" style="width:1rem;"></button></a></td>
      {{/if}}
     
    </tr>
   {{/each}}
  </tbody>
</table>
</div>

              </div>
            </div><!-- End Recent Sales -->
</main>